@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  text-wrap: pretty;
}

input {
  outline: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
}

.gallery {
  --img-size: calc(100px - 0.5rem / 2);
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(6, var(--img-size));
  grid-template-rows: repeat(3, var(--img-size));
  img {
    aspect-ratio: 1;
    object-fit: cover;
    grid-column: span 2;
    border-radius: 0.5rem;
    clip-path: path(
      "M 80 20 C 100 0 100 0 120 20 C 140 40 160 60 180 80 C 200 100 200 100 180 120 C 160 140 140 160 120 180 C 100 200 100 200 80 180 C 60 160 40 140 20 120 C 0 100 0 100 20 80 Z"
    );
    transition: filter 500ms, clip-path 500ms;

    &:nth-of-type(4) {
      grid-column: 2 / span 2;
    }

    &:hover {
      z-index: 100;
      clip-path: path(
        "M 0 0 C 100 0 100 0 200 0 C 200 50 200 50 200 80 C 200 100 200 100 200 120 C 200 150 200 150 200 200 C 100 200 100 200 0 200 C 0 150 0 150 0 120 C 0 100 0 100 0 80 Z"
      );
    }

    &:not(:hover) {
      animation: zIndexHack 500ms;
    }
  }
}

.gallery:hover > img {
  filter: brightness(0.5) saturate(0.5);
}

.gallery > img:hover {
  filter: brightness(1) saturate(1.5);
}

@keyframes zIndexHack {
  0%,
  100% {
    z-index: 10;
  }
}

@media (max-width: 500px) {
  .gallery > img {
    clip-path: none; /* Disable clip-path */
    transition: none; /* Disable transition to prevent animation */
  }

  .gallery {
    display: flex;
    flex-direction: column;
  }
}

.bridal-grid {
  display: flex;

  img {
    width: 300px;
    height: 200px;
    /* object-fit: cover; */
  }
}

/* Marquee styles */
.marquee {
  --gap: 1rem;
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  /* border: 2px dashed lightgray; */
}

.marqueeContent {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
}

.marqueeContent img {
  max-width: 200px;
  aspect-ratio: 1;
  width: 100%;
  object-fit: contain;
  border-radius: 12px;

  @media (max-width: 600px) {
    max-width: 130px;
    height: 130px;
  }
}

.marqueeContent > * {
  flex: 0 0 auto;
  color: var(--bg-neutral-100);
  margin: 2px;
  padding: 1rem 1rem;
  border-radius: 0.25rem;
  text-align: center;
}

.marqueeItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.marquee ul {
  padding-left: 0;
}
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes scroll-reverse {
  from {
    transform: translateX(calc(-100% - var(--gap)));
  }
  to {
    transform: translateX(0);
  }
}

.enableAnimation .marqueeContent {
  animation: scroll 30s linear infinite;
}
.enableLogoAnimation .marqueeContent {
  animation: scroll 20s linear infinite;
}
.marquee:hover .marqueeContent {
  animation-play-state: paused;
}
.enableAnimationReverse .marqueeContent {
  animation: scroll-reverse 30s linear infinite;
}

.testimonial-container {
  min-height: 60vh;
  padding-block: 3rem;
}
.testimonial {
  max-width: 900px;
  margin-inline: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: inherit;
  overflow: hidden;
}
.testimonial-content {
  position: relative;
  min-height: inherit;
  width: 100%;
}

.testimonial-item {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  & img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    padding: 2px;
    border: 2px solid rgb(104, 49, 166);
  }
  & p {
    width: min(90vw, calc(85% - 5rem));
  }
}

.testimonial-item:not(.active) {
  top: 0;
  left: -100%;
}

.indicators {
  display: flex;
  gap: 10px;
  padding-bottom: 3rem;
}

.indicators span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #aaa;
  cursor: pointer;
}
.indicators .active {
  background-color: rgb(0, 0, 0);
}

@keyframes next1 {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}
@keyframes next2 {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}
@keyframes prev1 {
  from {
    left: 0%;
  }
  to {
    left: 100%;
  }
}
@keyframes prev2 {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}

.testimonial-title {
  padding-top: 2rem;
  color: black;
  position: relative;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  word-spacing: 5px;
  letter-spacing: 0.6rem;
}

.testimonial-title::before {
  content: "";
  width: 200px;
  height: 2px;
  background-color: #006994;
  position: absolute;
  border-radius: 15px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10px;
}

.card-list {
  width: 90vw;
  margin-inline: auto;
  display: grid;
  grid-template-columns: repeat(3, 350px);
  gap: 1.4rem;
  place-content: center;
  padding-block: 2rem;
  padding-inline: 1rem;

  @media (max-width: 1100px) {
    grid-template-columns: repeat(2, 390px);
  }
  @media (max-width: 750px) {
    grid-template-columns: 1fr;
  }
}

.card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  padding-inline: 1.5rem;
  padding-block: 1.3rem;
  border-radius: 12px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  cursor: pointer;

  transition: background 0.4s ease, transform 0.3s ease;

  h1 {
    padding-top: 0.5rem;
    font-size: clamp(1.4rem, 1.7vw, 3rem);
  }

  &:nth-child(1) {
    svg {
      color: rgb(208, 90, 109);
    }
  }
  &:nth-child(2) {
    svg {
      color: #6684d4;
    }
  }
  &:nth-child(3) {
    svg {
      color: #afdd18;
    }
  }
  &:nth-child(4) {
    svg {
      color: #d45faf;
    }
  }
  &:nth-child(5) {
    svg {
      color: rgb(104, 32, 129);
    }
  }
  &:nth-child(6) {
    svg {
      color: rgb(228, 34, 34);
    }
  }
}

.card:hover {
  transform: scale(1.05);
}

.card:nth-child(1):hover {
  background: linear-gradient(
      45deg,
      rgba(178, 38, 38, 0.7) 0%,
      rgba(231, 167, 167, 0.7) 100%
    ),
    url("./assets/Card/6.webp");
  background-size: cover;
  color: whitesmoke;

  svg {
    color: whitesmoke;
  }
}
.card:nth-child(2):hover {
  background: linear-gradient(
      45deg,
      rgba(178, 38, 38, 0.7) 0%,
      rgba(231, 167, 167, 0.7) 100%
    ),
    url("./assets/Card/3.webp");
  background-size: cover;
  color: whitesmoke;

  svg {
    color: whitesmoke;
  }
}
.card:nth-child(3):hover {
  background: linear-gradient(
      45deg,
      rgba(178, 38, 38, 0.7) 0%,
      rgba(231, 167, 167, 0.7) 100%
    ),
    url("./assets/Card/1.webp");
  background-size: cover;
  color: whitesmoke;

  svg {
    color: whitesmoke;
  }
}
.card:nth-child(4):hover {
  background: linear-gradient(
      45deg,
      rgba(178, 38, 38, 0.7) 0%,
      rgba(231, 167, 167, 0.7) 100%
    ),
    url("./assets/Card/2.webp");
  background-size: cover;
  color: whitesmoke;

  svg {
    color: whitesmoke;
  }
}
.card:nth-child(5):hover {
  background: linear-gradient(
      45deg,
      rgba(178, 38, 38, 0.7) 0%,
      rgba(231, 167, 167, 0.7) 100%
    ),
    url("./assets/Card/4.webp");
  background-size: cover;
  color: whitesmoke;

  svg {
    color: whitesmoke;
  }
}
.card:nth-child(6):hover {
  background: linear-gradient(
      45deg,
      rgba(178, 38, 38, 0.7) 0%,
      rgba(231, 167, 167, 0.7) 100%
    ),
    url("./assets/Card/flower.webp");
  background-size: cover;
  color: whitesmoke;

  svg {
    color: whitesmoke;
  }
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.service-hero {
  min-height: 100vh;
  background-image: url("./assets/Service/service-image-bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
